* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
}
.header .navigation {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 89, 255);
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 999;
}
.header .navigation h1 {
  font-size: 48px;
  line-height: 80px;
  font-weight: 900;
  color: white;
}
.header .navigation ul {
  display: flex;
  line-height: 80px;
  margin-left: 500px;
}
.header .navigation ul li {
  padding: 0 20px;
}

.header .navigation ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.header .navigation ul li a:hover {
  background-color: white;
  color: rgb(0, 89, 255);
}
.header .navigation ul li .active {
  background-color: white;
  color: rgb(0, 89, 255);
}

.header p {
  line-height: 800px;
  text-align: center;
  font-size: 72px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
/* content */
.content {
  width: 95%;
  height: 100%;
  margin: 50px auto;
}
.content h2 {
  font-weight: 900;
  font-size: 48px;
  color: rgb(0, 89, 255);
  margin-bottom: 20px;
}
.content .about p {
  font-size: 20px;
  margin-top: 20px;
}
/* Best Of The Week */

.content .best {
  margin: 50px 0;
}
.content .best .image,
.content .film .image {
  display: flex;
  justify-content: space-between;
}
.content .best .image img,
.content .film .image img {
  width: 212px;
  height: 320px;
  margin-top: 20px;
  margin-bottom: 30px;
  transform: scale(100%);
  transition: 0.3s;
  box-shadow: 0 0 3px 1px rgb(0, 89, 255);
}
.content .best .image img:hover,
.content .film .image img:hover {
  transform: translateY(-20px);
}
/* Film Anak Anak */
.content .film {
  margin: 20px 0;
}
/* email */
.email {
  width: 100%;
  height: 506px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 3px solid rgba(153, 153, 153, 0.233);
  box-sizing: border-box;
}
.email .image {
  width: 720px;
  height: 506px;
  background-image: url(../img/panorama-ilustration.png);
}
.email .form {
  width: 520px;
  height: 283px;
  margin-left: 70px;
  margin-top: 130px;
}

.email h1 {
  font-weight: bold;
  font-size: 48px;
  color: rgb(0, 89, 255);
}
.email p {
  color: rgb(0, 89, 255);
  font-size: 20px;
}
.email input {
  display: inline-block;
  color: rgb(0, 89, 255);
  width: 480px;
  height: 40px;
  margin-top: 20px;
  margin-left: 15px;
  border: 3px solid rgb(0, 89, 255);
  border-radius: 8px;
  outline-width: 0;
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: rgb(0, 89, 255);
  font-size: 15px;
  font-weight: 400;
}

.email button {
  width: 150px;
  height: 30px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-left: 37%;
  margin-top: 10px;
  background-color: rgb(0, 89, 255);
  border: 3px solid rgb(0, 89, 255);
  border-radius: 8px;
  cursor: pointer;
}
/* copyright */
.copyright {
  width: 100%;
  height: 315px;
  background-color: black;
  margin-top: 80px;
  position: relative;
}
.copyright p {
  color: white;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 290px;
  left: 40%;
}
.copyright .fa-heart {
  color: red;
}
.copyright a {
  text-decoration: none;
}
